.page.theme_light {
  --background_color: #fff1f7;
  --main-text-color: #353430;
  --title_color: #ffc2e6;
  --title_shadow: #ff0070;
  --title_background: #ff8dcb;
  --hover_color: 1px solid rgba(50, 49, 45, 0.4);
  --background_image: url(../images/cover-image-light.png);
  --rec_color: var(--background_color);
  --article-title_color: var(--main-text_color);
  --section-title_color: var(--main-text_color);
  --border_color: var(--title_shadow);
  --corners_color: var(--main-text_color);
  --link_shadow: var(--title_color);
}

.page.theme_light .header__rec {
  display: none;
}
